%h1
  audio samples

%table
  %tr
    %th id
    %th
    %th

  - @samples.each do |sample|
    %tr.sample_summary
      %td= link_to sample.id, sample
      %td= link_to 'edit', edit_sample_path(sample)
      %td= link_to 'forget', sample, :confirm => 'are you sure?', :method => :delete

%br

= link_to 'new sample', new_sample_path
