%h1 watchers

%table
  %tr
    %th
    %th

  - @watchers.each do |watcher|
    %tr
      %td= link_to watcher.path, watcher
      %td= link_to 'destroy', watcher, :confirm => 'are you sure?', :method => :delete

%br

= link_to 'new watcher', new_watcher_path
